$c1 : #202020;
$c2 : #545454;
$c3 : rgb(0, 0, 25);
$c4: lightGreen;


*{
  padding: 0;
  margin: 0;
}

html,body{
  scroll-behavior: smooth;
  
  font-family: 'Roboto', sans-serif;

  text-align: center;

  background: $c1;
  color: white;
  .title{
    font-family: cursive;
    font-size: 30px;
    
    box-shadow: 0px 4px 8px #555;

    padding: 1%;
  }
  .img{
    border-radius: 15px;
    box-shadow: 0px 0px 8px #555;

    width: 250px;

    margin-top: 2%;
    &:hover{
      box-shadow: 0px 4px 8px #555;
    }
  }

  .btns{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;

    margin: 1%;
    .buttonImg{
      box-shadow: 0px 0px 8px #555;

      padding: 1%;
      margin: 1%;
      
      border-radius: 15px;
      
      color: white;
      
      text-decoration: none;

      &:hover{
      box-shadow: 0px 4px 8px white;
      }
    }
  }
  .result{
    border-block: 1px solid white;

    margin-top: 5%;
    padding: 1%;
    .screen{
      border-radius: 15px;
      
      height: 80vh;

      color: $c4;
      background: $c3;

      font-size: 20px;
      font-family: monospace;

      padding: 1%;
      h1{
        box-shadow: none;
        font-family: monospace;
      }
    }
  }
}